/* --------google workes---------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,400&family=Poppins:wght@500&family=Work+Sans:wght@400;500&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
/*---------------- home-styles----------- */
.home-banner{
   margin: 100px 50px ;
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    align-items: center;
}
.dricption{
    display: flex;
    gap: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #727272;
}
.home-text{
    font-size: 30px;
}
/*-------------- brand-styles------------- */
.brand-banner{
    width: 100%;
    height:125px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.brand-header{
    width: 600px;
    text-align: center;
}
.title{
    font-size: 28px;
    font-weight: 700;
}
/*------------ explore------------ */
.expolre-banner{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
button{
    color: aliceblue;
    padding: 10px 5px;
    background-color: #FF900E;
    height: 50px;
    border-radius: 8px;

}
/*------------ img-section-------- */
.img-section,img{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 50px;
}
/*--------------- quick----------------- */
.quick-header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
    margin: 30px;
    
}
.quick-banner{
display: grid;
grid-template-columns: repeat(2,1fr);
grid-row-gap: 20px;
width: 70%;
}
.quick{
    width: 340px;
    height: 340px;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.quick-title{
    width: 300px;
}
.text-primary{
    color: #727272;
}
.text-primary-1{
    color:#FF900E
}
/*----------------- main style------------ */
.main{
    width: 98%;
    height: 1059px;
    display: flex;
    justify-content: space-between;
    gap: 54;
    margin: 2%;
}
.title-dricption{
    width:500px;
    height: 160px;
}
.comment{
    width:500px;
    height: 170px;
    background-color: #FFFFFF ;
    border-radius: 8px;
}
.main-pic{
    width: 650px;
    height: 1059px;
}
/* -------- some facts-------- */
.some{
    width: 400px;
}
.title-cls{
    margin-left: 20px;
}
.dricption-cls{
    width: 525px;
    margin-left: 20px;
    margin-bottom: 120px;
}
/*------------- font awesome ------------- */
.continer{
    width: 100%;
    height: 241px;
    display: flex;
    justify-content: center;
    margin: 20px;
    gap: 80px;
}
.continer-box{
    height: 200px;
    width: 200px;
    border: 1px solid;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.title-number{
    font-size:26px;
    font-weight: 700;
    border-radius: 8px;
}
.box{
    width: 50%;
    height: 50%;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin: 10%;
    align-items: center;

}
.image-icon{
    width: 25px;
    height: 25px;
}
/* ----------------- our sponspores ----------------- */
.sponspors{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

}
.sponspors-title{
    width: 500px;
    text-align: center;
    

}
/* ----------------investor--banner-------------- */
.invester{
   display: flex;
   width: 100%;
   display: flex;
   justify-content: center;
   gap: 70px;
   margin-top: 80px;
}
.adv{
    width: 165px;
    height: 50px; 
}

/*---------------- footer----------- */
.footer-banner{
    width: 100%;
    height: 100px;
    background-color: #FFF4E7;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
}
.footer{
    align-items: center;
}
/*----------- midea quary-------------- */
 @media screen and (max-width:576px) {
    .continer,.some{
        flex-direction: column;
        padding: 20%;
        height: 300px;
        gap: 20px;
    }
    .main-cls{
        width: 100%;
    }
    .some{
        margin-bottom: 300px;
    }
    .main{
        flex-direction: column-reverse;
        padding: 10px;
        grid-template-columns: repeat(1,1fr);
    } 
    .main-pic{
        width: 100%;
    }
    
.quick-header{
    flex-direction: column-reverse;
    grid-template-columns: repeat(1,1fr);
}
.home-banner,.dricption{
    flex-direction: column;
}
.invester{
    flex-direction: column;
    align-items: center;
}

 }
 @media screen and (min-width:577px) and (max-width:992px) {
    
 }
 .hide{
    display:none;
 }








